<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bonsai.wallet32"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Capture Activity -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name="com.bonsai.wallet32.WalletApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <service
            android:name="com.bonsai.wallet32.WalletService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" >
        </service>

        <activity
            android:name="com.bonsai.wallet32.LobbyActivity"
            android:label="@string/title_activity_lobby" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bonsai.wallet32.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.SendBitcoinActivity"
            android:label="@string/title_activity_send_bitcoin"
            android:parentActivityName="com.bonsai.wallet32.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ReceiveBitcoinActivity"
            android:label="@string/title_activity_receive_bitcoin"
            android:parentActivityName="com.bonsai.wallet32.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ViewAddressActivity"
            android:label="@string/title_activity_view_address"
            android:parentActivityName="com.bonsai.wallet32.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.CreateRestoreActivity"
            android:label="@string/title_activity_create_restore" >
        </activity>
    </application>

</manifest>
