<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bonsai.wallet32"
    android:versionCode="29"
    android:versionName="0.3.2" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <!-- Base App Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Capture Activity -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name="com.bonsai.wallet32.WalletApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" 
        >
        <service
            android:name="com.bonsai.wallet32.WalletService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" >
        </service>

        <activity
            android:name="com.bonsai.wallet32.LobbyActivity"
            android:label="@string/title_activity_lobby"
	    android:screenOrientation="sensorPortrait"
	    >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
	      <action android:name="android.intent.action.VIEW" />
	      <data android:scheme="bitcoin" />
	      <category android:name="android.intent.category.DEFAULT" />
	      <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bonsai.wallet32.PasscodeActivity"
            android:label="@string/title_activity_passcode"
	    android:screenOrientation="sensorPortrait"
	    >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.MainActivity"
            android:label="@string/app_name"
	    android:screenOrientation="sensorPortrait"
	    >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ViewSeedActivity"
            android:label="@string/title_activity_view_seed"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ShowXPubActivity"
            android:label="@string/title_activity_show_xpub"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ShowPairingActivity"
            android:label="@string/title_activity_show_pairing"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.RescanActivity"
            android:label="@string/title_activity_rescan"
            android:parentActivityName="com.bonsai.wallet32.RescanActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ViewAccountActivity"
            android:label="@string/title_activity_view_account"
	    android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.SendBitcoinActivity"
            android:label="@string/title_activity_send_bitcoin"
	    android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ReceiveBitcoinActivity"
            android:label="@string/title_activity_receive_bitcoin"
	    android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.SweepKeyActivity"
            android:label="@string/title_activity_sweep_key"
	    android:windowSoftInputMode="stateHidden"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ViewTransactionsActivity"
            android:label="@string/title_activity_view_transactions"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ViewTransactionActivity"
            android:label="@string/title_activity_view_transaction"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.bonsai.wallet32.ViewAddressActivity"
            android:label="@string/title_activity_view_address"
            android:parentActivityName="com.bonsai.wallet32.MainActivity"
	    android:screenOrientation="sensorPortrait"
	    >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bonsai.wallet32.MainActivity" />
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"
	    android:screenOrientation="sensorPortrait"
	    >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.CreateRestoreActivity"
            android:label="@string/title_activity_create_restore"
	    android:screenOrientation="sensorPortrait"
	    >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.RestoreWalletActivity"
            android:label="@string/title_activity_restore_wallet"
	    android:screenOrientation="sensorPortrait"
	    >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.PairWalletActivity"
            android:label="@string/title_activity_pair_wallet"
	    android:screenOrientation="sensorPortrait"
	    >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.SettingsActivity"
            android:label="@string/title_activity_settings"
	    android:screenOrientation="sensorPortrait"
	    >
        </activity>
        <activity
            android:name="com.bonsai.wallet32.AboutActivity"
            android:label="@string/title_activity_about"
	    android:screenOrientation="sensorPortrait"
	    >
        </activity>
    </application>

</manifest>
